.navbar ul{
    display: flex;
    list-style-type:none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-container img{
    width: 100%;
}

.img-att img{
    width: 85%;
}

.img1-att img{
    width: 30%;
}


.img2-att img{
   width: 100%;
}

.img3-att img{
    width: 45%;
}

.img4-att img{
    width:100%;
}
